* {
  margin;0;padding:0;
  box-sizing:border-box;
  font-size:15px;
}
body {
  background:url('ba.gif');
}
#wrapper {
  margin:0 auto;
  width:100%;
}
.container {
  border:solid 1px #000;
  margin: 20px;
  background-color:#cfc;
  padding:8px;
}
#thread a {
  margin:10px;
  line-height:180%;
}
h1 {
  font-size:19px;
}
@media(max-width: 767px){
  .container {
    margin:3px;
  }
}

